/* General setup ---------------------------------------------------------------
------------------------------------------------------------------------------*/
body {
	font: 10px sans-serif;
	overflow-x: hidden;
	-webkit-user-select: none; /* Disable user selection of none tweet text */
	cursor: default;
}

body, td, tr, table {
	margin: 0;
	padding: 0;
}

tr, td, .protected {
	vertical-align: top;
}

img {
	border: none;
}

a {
	outline: none; /* Disable selection border */
}


/* "More" Link -----------------------------------------------------------------
------------------------------------------------------------------------------*/
.loadmore {
	padding-top: 4px;
	border-top: 2px solid #d2d2d2;
}

.loadmore, .inner-text, .avatar {
	padding-bottom: 4px;
}

.loadmore, .loading {
	text-align: center;
}

.loadmore a, .inner-text a, .name a, .time a, .reply a, .doreply a,
.doreply a:hover, .doretweet a, .doretweet a:hover {
	text-decoration: none;
}

.loadmore a, .name a {
	font-weight: bold;
}

.loadmore a, .doreply a, .doreply a:hover {
	font-size: 12px;
}


/* Loading Screens -------------------------------------------------------------
------------------------------------------------------------------------------*/
.loading {
	font-size: 14px;
	margin-top: 10px;
	color: #5b5b5b;
}

.loadingtext {
    line-height: 32px;
    padding-top: 8px;
}

.unloaded {
	background: #dbdbdb;
}

.unloaded, .time, .reply {
	cursor: default;
}


/* Links -----------------------------------------------------------------------
------------------------------------------------------------------------------*/
a:active, a:hover, a {
	color: #004363;
}

a:active, a:hover, a, .protected {
	cursor: pointer;
}

.loadmore a:hover, .name a:hover, .inner-text a:hover, .time a:hover,
.reply a:hover {
	text-decoration: underline;
}


/* Tweet Stuff -----------------------------------------------------------------
------------------------------------------------------------------------------*/
.avatar {
	padding-top: 6px;
	float: left;
}

.inner-text {
	word-wrap: break-word;
	padding-top: 5px;
	margin-right: 20px;
	min-height: 34px;
}

.inner-text, .text {
	margin-left: 38px;
}

.protected {
	background: url("file:///usr/share/atarashii/lock.png") no-repeat 0 1px;
	display: inline-block;
	margin-right: 3px;
	width: 7px;
	height: 10px;
}

.name {
	margin-right: 3px;
}

.clearfloat {
	clear: both;
}

.tweet {
	background: #d8e4ed;
}

.tweet, .oldtweet, .highlight, .highlightold, .mentioned, .mentionedold {
	padding-left: 6px;
	padding-right: 2px;
}

.oldtweet {
	background: #ffffff;
}

.highlight {
	background: #c9deed;
}

.highlightold {
	background: #e4e9ed;
}

.mentioned {
	background: #ffffab;
}

.mentionedold {
	background: #ffffcf;
}

.time, .time a, .time a:hover, .reply, .reply a, .reply a:hover {
	color: #555;
}

.time, .reply {
	font-size: 9px;
}

.time {
	padding-top: 1px;
}


/* Actions ---------------------------------------------------------------------
------------------------------------------------------------------------------*/
.actions {
	padding-top: 7px;
	width: 15px;
	height: 28px;
	float: right;
}


/* Reply Icon ------------------------------------------------------------------
------------------------------------------------------------------------------*/
.actions, doreply a, .doretweet a, .dofav a {
	display: block;
}

.highlightold:hover .doreply a, .highlight:hover .doreply a,
.oldtweet:hover .doreply a, .tweet:hover .doreply a,
.mentioned:hover .doreply a, .mentionedold:hover .doreply a {
    display: block;
	background: url("file:///usr/share/atarashii/at.png");
}

.highlightold:hover .doreply a:hover, .highlight:hover .doreply a:hover,
.oldtweet:hover .doreply a:hover, .tweet:hover .doreply a:hover,
.mentioned:hover .doreply a:hover, .mentionedold:hover .doreply a:hover {
	background-position: -12px 0;
}


/* Retweet Icon ----------------------------------------------------------------
------------------------------------------------------------------------------*/
.highlightold:hover .doretweet a, .highlight:hover .doretweet a,
.oldtweet:hover .doretweet a, .tweet:hover .doretweet a,
.mentioned:hover .doretweet a, .mentionedold:hover .doretweet a {
    display: block;
	background: url("file:///usr/share/atarashii/rt.png");
}

.highlightold:hover .doretweet a:hover, .highlight:hover .doretweet a:hover,
.oldtweet:hover .doretweet a:hover, .tweet:hover .doretweet a:hover,
.mentioned:hover .doretweet a:hover, .mentionedold:hover .doretweet a:hover {
	background-position: -12px 0;
}


/* Fav Icon --------------------------------------------------------------------
------------------------------------------------------------------------------*/
.highlightold:hover .dofav a, .highlight:hover .dofav a,
.oldtweet:hover .dofav a, .tweet:hover .dofav a,
.mentioned:hover .dofav a, .mentionedold:hover .dofav a {
    display: block;
	background: url("file:///usr/share/atarashii/fav.png");
}


.highlightold .undofav a, .highlight .undofav a,
.oldtweet .undofav a, .tweet .undofav a,
.mentioned .undofav a, .mentionedold .undofav a {
    display: block;
	background: url("file:///usr/share/atarashii/fav.png");
 	background-position: -12px 0px;
}


.dofav a, .undofav a {
	margin-top: 4px;
}


.highlightold:hover .blocker, .highlight:hover .blocker,
.oldtweet:hover .blocker, .tweet:hover .blocker,
.mentioned:hover .blocker, .mentionedold:hover .blocker {
    display: none;
}


/* Generic Stuff */
.doreply a, .doretweet a, .dofav a, .undofav a, .blocker {
	background: no-repeat;
	color: transparent;
	width: 12px;
	height: 12px;
}


/* Sapcers ---------------------------------------------------------------------
------------------------------------------------------------------------------*/
.spacerfoo {
	border-bottom: 2px solid #f00;
}

.spacer {
	border-bottom: 2px solid #d2d2d2;
}

.spacer1 {
	border-bottom: 2px solid #b3c4c4;
}

.spacer3 {
	border-bottom: 2px solid #cdd8df;
}

.spacer2 {
	border-bottom: 2px solid #ffffff;
}

.spacer4 {
	border-bottom: 2px solid #d8e4ed;
}

.spacer5 {
	border-bottom: 2px solid #ffffab;
}

.spacer6 {
	border-bottom: 2px solid #c9deed;
}

.spacer7 {
	border-bottom: 2px solid #e4e9ed;
}

.spacer8 {
	border-bottom: 2px solid #ffffcf;
}

.spacer10 {
    border-bottom: 2px solid #bed1d8;
}

.spacer11 {
    border-bottom: 2px solid #dbdddf;
}



