/* General setup ---------------------------------------------------------------
------------------------------------------------------------------------------*/
body {
	font: {FONT10}px sans-serif;
	overflow-x: hidden;
	-webkit-user-select: none; /* Disable user selection of EVERYTHING!!! */
	cursor: default;
}

body, td, tr, table {
	margin: 0;
	padding: 0;
}

tr, td, .protected {
	vertical-align: top;
}

img {
	border: none;
}

a {
	outline: none; /* Disable selection border */
}


/* "More" Link -----------------------------------------------------------------
------------------------------------------------------------------------------*/
.loadmore {
	padding-top: 4px;
	border-top: 2px solid #{LOADMORE};
}

.loadmore, .inner-text, .inner-text-avatar, .inner-text-no, .avatar {
	padding-bottom: 4px;
}

.loadmore, .loading {
	text-align: center;
}

.loadmore a, .inner-text a, .inner-text-avatar a, .inner-text-no a, .name a, 
.time a, .reply a, .doreply a, .doreply a:hover, .doretweet a, 
.doretweet a:hover {
	text-decoration: none;
}

.loadmore a, .name a {
	font-weight: bold;
}

.loadmore a, .doreply a, .doreply a:hover {
	font-size: {FONT12}px;
}


/* Loading Screens -------------------------------------------------------------
------------------------------------------------------------------------------*/
.loading {
	font-size: {FONT14}px;
	margin-top: 10px;
	color: #{LOADING};
}

.loadingtext {
    line-height: 32px;
    padding-top: 8px;
}

.infoheader {
    padding-top: 32px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: {FONT11}px;
    font-weight: bold;
}

.infotext {
    padding-top: 2px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: {FONT9}px;
    font-weight: bold;
}

.unloaded {
	background: #{BACKGROUND};
}

.unloaded, .time, .reply {
	cursor: default;
}


/* Links -----------------------------------------------------------------------
------------------------------------------------------------------------------*/
a:active, a:hover, a {
	color: #{LINKS};
}

a:active, a:hover, a, .protected {
	cursor: pointer;
}

.loadmore a:hover, .name a:hover, .inner-text-avatar a:hover,
.inner-text-no a:hover, .inner-text a:hover, .time a:hover,.reply a:hover {
	text-decoration: underline;
}


/* Profile Stuff ---------------------------------------------------------------
------------------------------------------------------------------------------*/
.profile_image {
    padding-top: 4px;
    width: {AVATAR48}px;
    float: left;
	display: block;
}

.profile_infos {
    margin-left: {AVATAR54}px;
    min-height: {AVATAR54}px;
}

.profile_status {
    margin-top: 6px;
}

.profile_header {
    width: 100%;
    position: fixed;
    top: 0px;
    background: #{HIGHLIGHT_OLD};
    padding-top: 2px;
	padding-left: 6px;
	padding-right: 2px;
	border-bottom: 2px solid #{SPACER_TWEET_HIGHLIGHT};
	padding-bottom: 2px;
}

.profile_tweets {
    margin-bottom: 6px;
}

.profile_realname {
    font-size: {FONT13}px;
    font-weight: bold;
} 

.profile_screenname {
    padding-top: 4px;
    font-size: {FONT10}px;
    font-weight: bold;
}

.profile_header a {
    font-weight: bold;
    text-decoration: none;
}

.profile_header a:hover {
    text-decoration: underline;
}


/* Tweet Stuff -----------------------------------------------------------------
------------------------------------------------------------------------------*/
.avatar {
	padding-top: 6px;
	float: left;
}

.avatarimage {
    width: {AVATAR32}px;
}

.inner-text, .inner-text-avatar, .inner-text-no {
	word-wrap: break-word;
	padding-top: 5px;
	margin-right: 20px;
}

.inner-text {
	min-height: 28px;
}

.inner-text-avatar {
	min-height: {AVATAR34}px;
}

.inner-text, .inner-text-avatar, .text {
	margin-left: {AVATAR38}px;
}

.protected {
	background: url("{RESOURCES}protected.png") no-repeat 0 1px;
	display: inline-block;
	margin-right: 3px;
	width: 7px;
	height: 10px;
}

.name {
	margin-right: 3px;
}

.clearfloat {
	clear: both;
}

.tweet {
	background: #{TWEET};
}

.tweet, .oldtweet, .highlight, .highlightold, .mentioned, .mentionedold,
.message, .messageold {
	padding-left: 6px;
	padding-right: 2px;
}

.oldtweet {
	background: #{TWEET_OLD};
}

.highlight {
	background: #{HIGHLIGHT};
}

.highlightold {
	background: #{HIGHLIGHT_OLD};
}

.mentioned {
	background: #{MENTION};
}

.mentionedold {
	background: #{MENTION_OLD};
}

.message {
	background: #{MESSAGE};
}

.messageold {
	background: #{MESSAGE_OLD};
}

.time, .time a, .time a:hover, .reply, .reply a, .reply a:hover {
	color: #{TIME};
}

.time, .reply {
	font-size: {FONT9}px;
}

.time {
	padding-top: 1px;
}


/* Actions ---------------------------------------------------------------------
------------------------------------------------------------------------------*/
.actions {
	padding-top: 7px;
	width: 15px;
	height: 28px;
	float: right;
}


/* Reply Icon ------------------------------------------------------------------
------------------------------------------------------------------------------*/
.actions, doreply a, .doretweet a, .dofav a {
	display: block;
}

.highlightold:hover .doreply a, .highlight:hover .doreply a,
.oldtweet:hover .doreply a, .tweet:hover .doreply a,
.mentioned:hover .doreply a, .mentionedold:hover .doreply a {
    display: block;
	background: url("{RESOURCES}reply.png");
}

.highlightold:hover .doreply a:hover, .highlight:hover .doreply a:hover,
.oldtweet:hover .doreply a:hover, .tweet:hover .doreply a:hover,
.mentioned:hover .doreply a:hover, .mentionedold:hover .doreply a:hover {
	background-position: -12px 0;
}


/* Retweet Icon ----------------------------------------------------------------
------------------------------------------------------------------------------*/
.highlightold:hover .doretweet a, .highlight:hover .doretweet a,
.oldtweet:hover .doretweet a, .tweet:hover .doretweet a,
.mentioned:hover .doretweet a, .mentionedold:hover .doretweet a {
    display: block;
	background: url("{RESOURCES}respond.png");
}

.highlightold:hover .doretweet a:hover, .highlight:hover .doretweet a:hover,
.oldtweet:hover .doretweet a:hover, .tweet:hover .doretweet a:hover,
.mentioned:hover .doretweet a:hover, .mentionedold:hover .doretweet a:hover {
	background-position: -12px 0;
}


/* Fav Icon --------------------------------------------------------------------
------------------------------------------------------------------------------*/
.highlightold:hover .dofav a, .highlight:hover .dofav a,
.oldtweet:hover .dofav a, .tweet:hover .dofav a,
.mentioned:hover .dofav a, .mentionedold:hover .dofav a {
    display: block;
	background: url("{RESOURCES}favorite.png");
}

.highlightold .undofav a, .highlight .undofav a,
.oldtweet .undofav a, .tweet .undofav a,
.mentioned .undofav a, .mentionedold .undofav a {
    display: block;
	background: url("{RESOURCES}favorite.png");
 	background-position: -12px 0px;
}

.dofav a, .undofav a {
	margin-top: 4px;
}

.highlightold:hover .blocker, .highlight:hover .blocker,
.oldtweet:hover .blocker, .tweet:hover .blocker,
.mentioned:hover .blocker, .mentionedold:hover .blocker {
    display: none;
}


/* Generic Stuff */
.doreply a, .doretweet a, .dofav a, .undofav a, .blocker {
	background: no-repeat;
	color: transparent;
	width: 12px;
	height: 12px;
}


/* Sapcers ---------------------------------------------------------------------
------------------------------------------------------------------------------*/
.spacer_foo {
	border-bottom: 2px solid #ff0000;
}

.spacer_tweet_old {
	border-bottom: 2px solid #{SPACER_TWEET_OLD};
}

.spacer_tweet {
	border-bottom: 2px solid #{SPACER_TWEET};
}

.spacer_tweet_highlight {
    border-bottom: 2px solid #{SPACER_TWEET_HIGHLIGHT};
}

.spacer_tweet_highlight_old {
    border-bottom: 2px solid #{SPACER_TWEET_HIGHLIGHT_OLD};
}

.spacer_in_tweet_old {
	border-bottom: 2px solid #{TWEET_OLD};
}

.spacer_in_tweet {
	border-bottom: 2px solid #{TWEET};
}

.spacer_in_highlight {
    border-bottom: 2px solid #{HIGHLIGHT};
}

.spacer_highlight {
	border-bottom: 2px solid #{SPACER_HIGHLIGHT};
}

.spacer_highlight_old {
    border-bottom: 2px solid #{SPACER_HIGHLIGHT_OLD};
}

.spacer_in_highlight_old {
	border-bottom: 2px solid #{HIGHLIGHT_OLD};
}

.spacer_mention {
	border-bottom: 2px solid #{MENTION};
}

.spacer_mention_old {
	border-bottom: 2px solid #{MENTION_OLD};
}

.spacer_spacer_mention {
	border-bottom: 2px solid #{SPACER_MENTION};
}

.spacer_spacer_mention_old {
	border-bottom: 2px solid #{SPACER_MENTION_OLD};
}

.spacer_spacer_mention_new {
	border-bottom: 2px solid #{SPACER_MENTION_NEW};
}

.spacer_message {
    border-bottom: 2px solid #{MESSAGE};
}

.spacer_message_old {
    border-bottom: 2px solid #{MESSAGE_OLD};
}

.spacer_spacer_message_new {
	border-bottom: 2px solid #{SPACER_MESSAGE_NEW};
}

