[Desktop Entry]
Version=0.99.14b
Name=Atarashii
GenericName=Twitter Client
Comment=Twitter on your GNOME Desktop
Comment[de]=Twitter auf deinem GNOME Desktop
Exec=atarashii
Icon=atarashii.png
StartupNotify=true
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Network;GTK;
