Package: atarashii
Version: 0.93-1
Section: misc
Priority: optional
Architecture: all
Installed-Size: 194
Depends: python-webkit, python-gtk2, python-glade2, python-gconf, python-gobject, python-dbus, python-notify, mplayer-nogui, python-gnome2-desktop
Maintainer: Ivo Wetzel <ivo.wetzel@googlemail.com>
Description: Twitter Client for the Gnome Desktop
 Atarashii(Japanese for "New") is a Twitter Client specificly designed for the 
 Gnome Desktop. It uses GTK and webkit to archive a slim and functional design.
 The code itself is written in Python and uses the correspong Python bindings
 for the libraries.
